@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-background: oklch(0.99 0.0085 84.57); /* #fffcf6 */
  --color-foreground: oklch(0.2 0 0); /* #171717 */

  --color-accent: oklch(0.98 0.018 78.24); /* #fff7eb */
  --color-primary: oklch(0.65 0.1096 129.1); /* #799b50 */

  --color-shadow: oklch(0.95 0.0272 83.54) /* #f6ecd9 */;

  --animate-lite-pulse: lite-pulse 1s ease-in-out infinite;
}

@theme inline {
  --font-jost: var(--font-jost);
  --font-kalam: var(--font-kalam);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
} */

.clip-triangle {
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  overflow: hidden;
  width: 64px;
  height: 64px;
}

@keyframes lite-pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  25% {
    transform: scale(1.05);
    opacity: 0.9;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}
